body {
  padding: 0;
  margin: 0;
  background: #596778;
  color: #eeeeee;
  text-align: center;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
}

.container {
  max-width: 1440px;
  padding: 30px 20px;
  margin: 0 auto;
}

/* HEADER */
.header-content {
  display: flex;
  justify-content: space-between;
}
.menu {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  box-sizing: border-box;
  font-size: 26px;
}

.menu-item,
.menu-open-button {
  background: #eeeeee;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.lines {
  width: 25px;
  height: 3px;
  background: #596778;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.line-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.line-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.line-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .line-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .line-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:hover {
  background: #eeeeee;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .sound-btn-container .menu-item:nth-child(1) {
  transition-duration: 180ms;
  -webkit-transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(80px, 0, 0);
}

.menu-open:checked ~ .sound-btn-container .menu-item:nth-child(2) {
  transition-duration: 280ms;
  -webkit-transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(160px, 0, 0);
}

.menu-open:checked ~ .sound-btn-container .menu-item:nth-child(3) {
  transition-duration: 380ms;
  -webkit-transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(240px, 0, 0);
}

.menu-open:checked ~ .sound-btn-container .menu-item:nth-child(4) {
  transition-duration: 480ms;
  -webkit-transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(320px, 0, 0);
}

/* .menu-open:checked ~ .sound-btn-container .menu-item:nth-child(9) {
    transition-duration: 780ms;
    -webkit-transition-duration: 780ms;
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-0.25084px, -104.9997px, 0);
 } */

/* .icon {
  background-repeat: no-repeat;
  background-position: center;
 } */

.winter-btn {
  background-color: #9ec3d4;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url("/assets/svg/winter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.winter-btn:hover {
  text-shadow: none;
  background-image: url("/assets/svg/winter1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spring-btn {
  background-color: #a0d58e;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url("/assets/svg/spring.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.spring-btn:hover {
  text-shadow: none;
  background-image: url("/assets/svg/spring1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.summer-btn {
  background-color: #fce09c;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url("/assets/svg/summer.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.summer-btn:hover {
  text-shadow: none;
  background-image: url("/assets/svg/summer1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.autumn-btn {
  background-color: #ff936b;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
  background-image: url("/assets/svg/autumn.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.autumn-btn:hover {
  text-shadow: none;
  background-image: url("/assets/svg/autumn1.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  border-bottom: 1px solid #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  /* height: 900px; */
  height: calc(100vh - 141px - 130px);
  background: linear-gradient(
    90deg,
    rgba(158, 195, 212, 1) 0%,
    rgba(160, 213, 142, 1) 34%,
    rgba(252, 224, 156, 1) 67%,
    rgba(255, 147, 107, 1) 100%
  );
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  font-size: 20px;
}

.developer_data {
  display: flex;
}

.footer_year {
  margin-right: 20px;
}

.rs_link {
  margin-left: 20px;
}

.audio-player {
  height: 50px;
  width: 500px;
  background: #444;
  box-shadow: 0 0 20px 0 #000a;
  color: white;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.controls {
  display: flex;
  width: 500px;
  /* justify-content: space-between; */
  /* align-content: center; */
  align-items: center;
  padding: 0 20px;
}

.toggle-play.play {
  cursor: pointer;
  /* position: relative; */
  /* left: 0; */
  /* height: 0; */
  /* width: 0; */
  border: 10px solid #0000;
  border-left: 18px solid white;
}

.toggle-play.play:hover {
  transform: scale(1.1);
}

.toggle-play.pause {
  height: 15px;
  width: 20px;
  cursor: pointer;
  position: relative;
}

.toggle-play.pause:before {
  position: absolute;
  top: 0;
  left: 0px;
  background: white;
  content: "";
  height: 15px;
  width: 4px;
}

.toggle-play.pause:after {
  position: absolute;
  top: 0;
  right: 8px;
  background: white;
  content: "";
  height: 15px;
  width: 3px;
}

.toggle-play.pause:hover {
  transform: scale(1.1);
}

.timeline {
  background: white;
  width: 100%;
  height: 10px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
  margin: 0 10px;
}

.progress {
  background: coral;
  width: 0%;
  height: 100%;
  transition: 0.25s;
}

/* 
.time {
  display: flex;
} */

/* .time > * {
  padding: 2px;
} */

.volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.volume-button {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.icono-volumeMedium {
  width: 20px;
  height: 20px;
  background-image: url("/assets/svg/volume.svg");
  filter: brightness(0) saturate(100%) invert(98%) sepia(99%) saturate(9%)
    hue-rotate(11deg) brightness(107%) contrast(100%);
}

.icono-volumeMute {
  width: 20px;
  height: 20px;
  background-image: url("/assets/svg/mute.svg");
  filter: brightness(0) saturate(100%) invert(98%) sepia(99%) saturate(9%)
    hue-rotate(11deg) brightness(107%) contrast(100%);
}

.volume:hover {
  transform: scale(1.1);
}

.volume-slider {
  position: absolute;
  left: -50px;
  top: 25px;
  z-index: -1;
  width: 0;
  height: 10px;
  background: white;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}

.volume-percentage {
  background: coral;
  height: 100%;
  width: 75%;
}

.volume-container:hover .volume-slider,
.volume-container:focus .volume-slider {
  left: -50px;
  width: 100px;
}

p {
  margin: 0;
}

.img-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1440 - 320)));
  line-height: 2;
  color: #f2f2f2;
  /* background: linear-gradient(90deg, rgba(158,195,212,0.4) 0%, rgba(160,213,142,0.4) 34%, rgba(252,224,156,0.4) 67%, rgba(255,147,107,0.4) 100%); */
  font-weight: bold;
}

.sound-list-container {
  display: flex;
  align-items: center;
}

.sound-list {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.sound-item {
  border-radius: 4px;
  padding: 10px;
  width: 180px;
  font-family: inherit;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  color: #f2f2f2;
}

.menu-item.active-menu-btn {
  width: 70px;
  height: 70px;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.5);
}

.sound-item:hover {
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.5);
}

.active-sound-btn {
  background-color: #f2f2f2;
  color: #596778;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.5);
}